# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will otherwise have CRLF line endings on checkout.
*.php text eol=lf
*.json text eol=lf

# GitHub baggage for development.
.gitattributes export-ignore
.gitignore export-ignore
.editorconfig export-ignore
README.md export-ignore
